@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	margin: 0;
	padding: 0;
}

i {
	margin-right: 10px;
}

/*----------multi-level-accordian-menu------------*/

.navbar-logo {
	padding: 15px !important;
	color: #fff;
}

.navbar-mainbg {
	background-color: #0DB8DE;
	padding: 0px !important;
}

#navbarSupportedContent {
	overflow: hidden;
	position: relative;
}

#navbarSupportedContent ul {
	padding: 0px;
	margin: 0px;
}

#navbarSupportedContent ul li a i {
	margin-right: 10px;
}

#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

#navbarSupportedContent ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	display: block;
	padding: 20px 20px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: relative;
}

#navbarSupportedContent>ul>li.active>a {
	color: #ffffff;
	background-color: transparent;
	transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

.hori-selector {
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #222D32;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}

.hori-selector .right, .hori-selector .left {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #222D32;
	bottom: 10px;
}

.hori-selector .right {
	right: -25px;
}

.hori-selector .left {
	left: -25px;
}

.hori-selector .right:before, .hori-selector .left:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #0DB8DE;
}

.hori-selector .right:before {
	bottom: 0;
	right: -25px;
}

.hori-selector .left:before {
	bottom: 0;
	left: -25px;
}

.userName {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	display: block;
	padding: 20px 20px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: relative;
}

@media (max-width: 991px) {
	#navbarSupportedContent ul li a {
		padding: 12px 30px;
	}
	.hori-selector {
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left, .hori-selector .right {
		right: 10px;
	}
	.hori-selector .left {
		top: -25px;
		left: auto;
	}
	.hori-selector .right {
		bottom: -25px;
	}
	.hori-selector .left:before {
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before {
		bottom: -25px;
		left: -25px;
	}
	.userName {
		color: #ffffff;
		text-decoration: none;
		font-size: 20px;
		display: block;
		padding: 20px 20px;
		transition-duration: 0.6s;
		transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		position: relative;
	}
}